h1 {background:
                red;
    }

.p1 {background:green;
     font-size:32pt;
     color:green}
.p2 {border:10px;
     border-radius:5px;
     font-size:24pt;
        }
.p3 {font-weght:900;
    font=size:20px ;
    font-family:courier New;}
